@charset "UTF-8";
/* CSS Document */

body{
	
	background-color: #5E0016;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";

}


.space{
	
	background-color: #5E0016;
	position:relative;
	width: 1300px;
	height: 10px;
	float:left;
	margin-left:0px;
	padding-left:0px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	line-height: 10px;
	
}

#container{
	
	background-color:white;
	position:relative;
	width: 975px;
	height: 610px;
	float:left;
	margin-left:100px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	line-height: 10px;
	
}

#menu{
	
	background-color: white;
	position:relative;
	float:left;
	text-align: right;
	font-size:18px;
	font-weight:bold;
	width: 100px;
	height: 600px;
	float:left;
	margin: 0px;
	padding-right:15px;
	padding-top:10px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	line-height: 10px;
	
}

a:link{
	color: #94375D;
	text-decoration:none;
}

a:hover{
	color: #512032;
}

a:visited{
	color: #94375D;
}

#main{
	
	background-color:white;
	position:relative;
	float:right;
	width: 820px;
	height: 600px;
	float:left;
	margin-left:0px;
	padding-left:25px;
	padding-top:10px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	line-height: 10px;
	
}


h1 {
    margin:1px 1px 3px 1px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: white;
	padding-top: 15px;
	padding-left: 100px;
}

h2 {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	padding-top:10px;
}

h3 {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size:20px;
}



.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }






div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

