@charset "UTF-8";
/* CSS Document */

body{
	
	background-color: #5E0016;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";

}


#menu{
	
	background-color:white;
	position:relative;
	font-size:16px;
	font-weight:bold;
	width: 975px;
	height: 26px;
	float:left;
	margin: 0 auto;
	padding-left:25px;
	padding-top:7px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	line-height: 10px;
	
}

a:link{
	color: #94375D;
	text-decoration:none;
}

a:hover{
	color: #512032;
}

a:visited{
	color: #94375D;
}

.space{
	
	background-color: #5E0016;
	position:relative;
	width: 1300px;
	height: 25px;
	float:left;
	margin-left:0px;
	padding-left:0px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	line-height: 10px;
	
}

#container{
	
	background-color:white;
	position:relative;
	width: 975px;
	height: 600px;
	float:left;
	margin-left:100px;
	padding-left:0px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	line-height: 10px;
	
}

#main{
	
	background-color:white;
	position:relative;
	width: 975px;
	height: 600px;
	float:left;
	margin-left:0px;
	padding-left:25px;
	padding-top:25px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	line-height: 10px;
	
}

#footer{
	
	background-color:white;
	position:relative;
	width: 975px;
	height: 50px;
	float:left;
	margin-left:100px;
	padding-left:25px;
	padding-top:10px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	line-height: 10px;
	
}

h1 {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color: #ffffff;
	padding-top: 15px;
	padding-left: 100px;
}

h2 {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	padding-top:10px;
}

h3 {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size:20px;
}


